h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: rgb(226, 80, 23);
  font-family: 'Montserrat';
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 32px; }

body {
    font-size: 20px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    background: #282828;
    padding: 5px 0; }
  
  .container {
    width: 1400px;
    position: relative;
    margin: 0 auto;
    background: #fff; }
  
  .register-form {
    padding: 50px 100px 50px 70px; }
  
  .form-row {
    margin: 0 -15px; }
    .form-row .form-group {
      width: 100%;
      padding: 0 15px; }
  
  .form-group {
    margin-bottom: 23px;
    position: relative; }
  
  input, select {
    display: block;
    width: 25%;
    border: 1px solid #ebebeb;
    padding: 11px 20px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px; }
    input:focus, select:focus {
      border: 1px solid #ff6801; }
  
  label {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat';
    margin-bottom: 2px;
    display: block; }
  .form-select {
    position: relative; }
  
  select {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    position: relative;
    background: 0 0;
    z-index: 10;
    cursor: pointer; }
  
  .select-icon {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }
    .select-icon i {
      justify-content: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -o-justify-content: center;
      -ms-justify-content: center;
      align-items: center;
      -moz-align-items: center;
      -webkit-align-items: center;
      -o-align-items: center;
      -ms-align-items: center;
      width: 40px;
      height: 20px;
      font-size: 18px;
      color: #999; }
  
  .form-submit {
    text-align: right;
    padding-top: 27px; }
  
  .submit {
    width: 140px;
    height: 40px;
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    border: none;
    cursor: pointer; }
  
  #reset {
    background: #f8f8f8;
    color: #999;
    margin-right: 8px; }
    #reset:hover {
      background: #ff6801;
      color: #fff; }
  
  #submit {
    background: #ff6801;
    color: #fff; }
    #submit:hover {
      background-color: #cd5300; }


.table {
  padding-left: 20px;
  text-align:center
}
